.form {
  background-color: rgb(29, 79, 216);
  padding: 1rem;
  width: 20rem;

  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.form label {
  width: 100%;
  display: block;
  margin-bottom: 0.05rem;
  color: #eadbfb;
  font-weight: bold;
  text-align: left;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #c4a9e4;
  color: #28262c;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actionsButtonCancel {
  background-color: rgb(29, 79, 216);
  border: none;
}
.actionsButtonSubmit {
  background-color: rgb(105, 180, 105);
}
